@import "./helpers/placeholders";
@import "./helpers/mixins";
@import "./helpers/variables";
@import "./helpers/components";
@import "./layouts/breakpoints";


body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-color: $standard-black-bg-color;
    p, h3, span { font-family: sans-serif;}

    #landingPage {
        padding-inline: 0px !important;
        
        #mainNavbar {
            z-index: 1;
            padding: 0 1.5rem;
            margin-top: 1.5rem;
            // padding-inline: 0.938rem;

            @media screen and (max-width:500px) {
                // border: solid green;
            }

            #mainNavbarFirstChild {
                padding: 0;

                #aBrand {
                    color: $standard-white-color;
                    font-family: $standard-font-family-1;
                    // @media screen and (max-width: 991px) { display: block; position: static; }
    
                    gap: 0.5rem;
                    display: inline-flex;
                    align-items: center;

                    @media screen and (max-width:500px) { display: inline-flex; }
    
                    div {
                        width: 2rem;
                        img { width: 100%; }
                    }
                }
    
                #navbarToggler {
                    border: solid $standard-grey-color;
                    .navbar-toggler-stripes {
                        background-color: $standard-grey-color;
                        width: 1rem;
                        height: 0.1rem;
                        margin-block: 4px;
                        border-radius: $standard-border-radius-10px;
                    }
                }
                
                #navbarList {
                    display: flex;
                    justify-content: end;
                    
                    @media screen and (max-width: 991px) {
                        position: absolute;
                        right: 0;
                        top: 110%;
                        z-index: -1;
                        width: 40%;
                        justify-content: start;
                        background-color: rgba(255,255,255,0.7);
                        padding : { block: 2rem; left: 2rem; }
                        border: solid $standard-black-color {
                            top-left-radius: $standard-border-radius-20px;
                            bottom-left-radius: $standard-border-radius-20px;
                            bottom-right-radius: $standard-border-radius-20px;
                        }
                    }

                    #navbarListFirstChild {
                        display: flex;
                        // gap: 3rem;
                        // @media screen and (max-width: 1440px) { gap: 2rem; }
                        // @media screen and (max-width: 1024px) { gap: 1rem; }

                        .dropdown-menu { li { margin: 0; } }
                        
                        li { display: inline-block; }       
        
                        .navbar-link {
                            color: $standard-white-color;
                            @media screen and (max-width: 991px) {color: $standard-black-color;}
                            &:hover { cursor: pointer; }
                        }
                        
                        #lightModeBtn {
                            padding-inline: 2px;
                            width: 2.3rem;
                            height: 1.2rem;
                            border: solid $standard-white-color {
                                bottom-right-radius: 10px;
                                bottom-left-radius: 10px;
                                top-right-radius: 10px;
                                top-left-radius: 10px;}
                            display: flex;
                            align-items: center;
                            &:hover { cursor: pointer; }
                            @media screen and (max-width: 991px) {border: solid $standard-black-color}
        
                            #lightModeToggle {
                                width: 0.8rem;
                                height: 0.8rem;
                                border-radius: $standard-border-radius-10px;
                                background-color: $standard-white-color;
                                @media screen and (max-width: 991px) {background-color: $standard-black-color;} 
                            }
                        }
                        
                        #navContactBtn {
                            @media screen and (min-width:992px) {
                                padding: 0.2rem 1.5rem;
                                border: solid #fff;
                                border-radius: 8px;
                                background-color: rgba(0,0,0,0);
                                font-weight: 600;
                                transition: 400ms;
                                &:hover {
                                    background-color: #fff;
                                    cursor: pointer; 
                                    a { color: $standard-black-color; }
                                }
                            }
                        }
                    }
                    #navbarHiddenLayer {
                        position: fixed;
                        top: 0;
                        left: 0;
                        border: solid red;
                        display: none;
                        width: 100vw;
                        height: 100vh;
                    }
                }
            }
               
        }

        #mainCarousel {
            z-index: 0;
            .carousel-img {
                width: 100vw;
                height: 90vh;
                background: { size: cover; repeat: no-repeat; position: 50% 50%; }
                border-radius: 40px;
                @include desktop { height: 80vh; }
                @include large-mobile { height: 90vh; }
            }
            #carousel1 {
                background-image: url(../assets/gallery/food/food-84.webp);
            }
            #carousel2 {
                background-image: url(../assets/gallery/company/company-1.webp);
                @include large-mobile { background-position: 61% 50%; }
            }
            #carousel3 {
                background-image: url(../assets/gallery/architecture/architecture-4.webp);
                @include large-mobile { background-position: 43% 50% }
            }
            .carousel-layer {
                border: 1.5rem solid $standard-black-bg-color;
                border-radius: 35px;
                position: relative;
                // background: linear-gradient(0deg, rgba(0,0,0,0.8) 0% 22%, rgba(255,255,255, 0.1) 80% 100%);
                height: 100%;
                width: 100%;
                opacity: 1;
                @include large-mobile { background: linear-gradient(0deg, rgba(255,255,255, 0.1) 0% 60%, rgba(0,0,0,0.8) 100% 0%); }
            }

            #companyTitle {
                color: $standard-white-bg-color;
                position: absolute;
                top: 60%;
                z-index: 1;
                padding-inline: 65px;
                @include large-mobile { display: none; }

                #companyRow {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;
                    
                    #companyImgBox {
                        max-width: 10vw;
                        @include tablet { max-width: 15vw; }
                        img { width: 100%; }
                    }

                    #companyTitleBox {
                        h1 { font : { size: 6.5vw; weight: 700; family: $standard-font-family-1; } }
                        h4 {
                            margin-left: 2%;
                            letter-spacing: 0.8rem;
                            font: { style: italic; weight: 100; size: 2rem; }
                            @media screen and (max-width: 560px) { letter-spacing: 0.4rem; }
                        }
                    }
                }
            }

            #companyTitleMobile {
                color: $standard-black-color;
                display: flex;
                justify-content: start;
                position: absolute;
                top: -4rem;
                padding-left: 1.5rem;
                width: 100vw;
                height: 9%;
                z-index: 1;
                @media screen and (min-width: 426px) { display: none; }
                @media screen and (max-width: 425px) and (min-width: 376px) { padding-top: 15%; }

                #companyRowMobile {
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    gap: 0.6rem;
                    #companyImgBoxMobile {
                        width: 10vw;
                        #blackLogo { display: none; transition: 400ms; }
                        #whiteLogo { transition: 400ms; }
                        img { width: 100%; }
                    }

                    #companyTitleBoxMobile {
                        h1 {
                            color: $standard-grey-color;
                            font : {
                                size: 7vw;
                                weight: 900;
                                family: $standard-font-family-1;
                            }
                        }
                        
                    }
                    
                }
            }

            #companySloganMobile {
                position: absolute;
                top: 5%;
                z-index: 1;
                width: 100vw;
                color: $standard-white-bg-color;
                padding-inline: 2rem;
                letter-spacing: 0.1rem;
                font : { style: italic; weight: 100; size: 2rem; }
                @media screen and (min-width: 426px) { display: none; }
            }
        }

        .contact-us-page { @include desktop { width: 30vw; height: 60vh; } }
    }

    #bodyPage {

        #services {
            padding-inline: 10%;
            margin-block: 6rem 0rem;
            color: $standard-grey-color;
            @media screen and (max-width: 768px) { padding-inline: 5%; }
            @media screen and (max-width: 500px) { margin-block: 2rem 0rem; }

            h1, h4 { color: $standard-grey-color; }

            h1 {
                font-size: clamp(1.2rem, 4vw, 3.5rem);
                font-weight: 600;
                @media screen and (max-width: 500px) { font-size: 2.5rem; }
            }

            h4 {
                font-size: clamp(0.65rem, 2vw, 1.75rem);
                font-weight: 300;
                @media screen and (max-width: 500px) { font-size: 1.7rem; }
            }

            #servicesHeading { margin-bottom: 2rem; }

            .service-texts {
                padding: 1rem;
                @media screen and (max-width:768px) { padding: 0.5rem; }
                @media screen and (max-width: 500px) { padding-left: 0; }
            }

            #servicesRow1 {
                column-count: 5;
                margin: 0;
                gap: 0;
                @media screen and (max-width: 500px) { column-count: 1; }
            }
            
            #servicesRow2 {
                column-count: 5;
                color: $standard-grey-color;
                margin: 0;
                gap: 0;
                @media screen and (max-width: 500px) { column-count: 1; }
            }

            img { width: 100%; }
        }
        
        #btsCol {
            flex-direction: row;
            height: auto;
            padding-inline: 23%;
            margin-block: 7rem 3rem;
            justify-content: space-around; 
            @include desktop { justify-content: space-around; padding-inline: 30%; }
            @include large-tablet { padding-inline: 27%; }
            @include tablet { flex-direction: column; padding-inline: 3%; }
            @include large-mobile { margin-block: 7rem 0rem; } 
            
            #btsFirstChild {
                min-width: 100%;
                min-height: 75vh;
                max-height: 80vh;
                justify-content: space-between;
                @include desktop { min-height: 75vh; max-height: 80vh; }
                @include tablet { min-height: 35rem; }
                @include small-tablet { min-height: 70vh; }
                @include large-mobile { min-height: 55vh; max-height: 60vh; }

                .white-layer {
                    position:absolute;
                    height: 100%;
                    width: 100%;
                    background-color: $standard-black-bg-color;
                    @media screen and (max-width: 768px) { display: none; }
                }

                .bts-image-box { overflow-x: hidden; }

                .bts-back-images {
                    width: 40%;
                    transform: translate(0%, -20%);
                    @include large-tablet { width: 45%; z-index: 1; }
                }

                #btsFrontImg {
                    position: absolute;
                    z-index: 2;
                    max-width: 20%;
                    min-width: 18%;
                    @include large-desktop { min-width: 10%; max-width: 20%; }
                    @include desktop { max-width: 30%; left: 13%; }
                    @include large-tablet { max-width: 35%; left: 10%; }
                    @include large-mobile { max-width: 47%; min-width: 45%; }
                    @include small-mobile { min-width: 50%; }
                }

                #btsBackImg2 { @include larger-desktop { z-index: 1; } }
            }

            #btsSecondChild {
                max-width: 100%;
                @include desktop { min-width: 100%; }
                
                #btsTextBoxCol {
                    width: 30vw;

                    hr, h3, .bts-heading-texts, .bts-card-text { color: $standard-grey-color; }
                    .bts-card-text { background-color: $standard-black-bg-color; }
        
                    #btsCollapse1, #btsCollapse2, #btsCollapse3 {
                        @extend %cursor-pointer;
                        @extend %no-underline;
                    }
        
                    .bts-card-text { @extend %no-border; }
                    
                    #btsCollapseText2, #btsCollapseText3 { @extend %display-none; }
                }
            }
        }

        #professionalHeadingCol {
            margin-top: 8rem;
            color: $standard-grey-color;
            padding-inline: 10%;
            @media screen and (max-height: 768px) { text-align: center; }
        }

        #professionalCardsCol {
            padding: 1rem 10% 8rem;
            justify-content: space-between;
            @include desktop { justify-content: space-around; }
            @include large-tablet { padding-inline: 5%; }
            @include large-mobile { padding: 1rem 5% 4rem; }

            .professional-cards {
                border-radius: $standard-border-radius-20px;
                border: solid $standard-grey-color;
                overflow-x: hidden;
                max-width: 25%;
                color: $standard-grey-color;
                background-color: $standard-black-bg-color;
                @include large-desktop { max-width: 28%; }
                @include desktop { max-width: 30%; }
                @include large-tablet { max-width: 34%; }
                @include tablet { max-width: 70%; }
                @include large-mobile { max-width: 80%; }  
                a { color: $standard-hyperlink-color; }
            }
        }
        
        #mainClients {
            padding: 0 10% 7rem;
            color: $standard-grey-color;
            @media screen and (max-width: 768px) { padding-inline: 5%; }
            @media screen and (max-width: 700px) { padding-inline: 3%; }
            @media screen and (max-width: 660px) { display: none; }
            
            .client-rows {
                @include tablet { padding-inline: 5%; }
                .client-col { display: flex; }
                .client-boxes {
                    @include always-square(0, 20%, 20%);
                    overflow: hidden;
                    border: 0.95px solid $standard-grey-color;
                    background-color: $standard-white-bg-color;
                }
            }
            
        }

        #mainClientsTablet {
            color: $standard-grey-color;
            @extend %display-none;
            @media screen and (max-width: 660px) { display: block; }

            .client-rows-tablet { padding-inline: 1%; }
            .client-boxes-tablet {
                @include always-square(0, 40%, 40%);
                overflow: hidden;
            }
        }

        #dummy {
            height: 19vh;
            @include large-mobile { height: 5vh; }
        }

        #arrowBox {
            position: fixed;
            right: 2rem;
            bottom: 9rem;
            width: 5vw;
            opacity: 0;
            display: none;
            @media screen and (max-width: 500px) {
                width: 12vw;
                right: 0.3rem;
                bottom: 1rem;
            }
            svg {
                fill: $standard-grey-color;
                transition: 300ms;
                &:hover { cursor: pointer; }
            }
        }
    }  

    #galleryHeading {
        display: flex;
        justify-content: space-between;
        padding-inline: 10%;
        padding-block: 1rem;
        align-items: center;
        color: $standard-grey-color;
        @media screen and (max-width: 768px) {
            padding-block: 0.8rem;
            padding-inline: 5%;
        }
        
        @include large-mobile { justify-content: space-between; }

        h1 { font-family: $standard-font-family-1; }
        div {
            width: 5vw;
            @media screen and (max-width: 768px) { width: 8vw; }
            @include large-mobile { width: 12vw; }
            img { width: 100%; }
        }

        button {
            height: 3rem;
            font-size: $standard-font-size;
            background-color: $standard-black-bg-color;
            color: $standard-grey-color;
            border-radius: 7px;
            border: solid $standard-grey-color;
            transition: 300ms;

            &:hover {
                cursor: pointer;
                border: solid $standard-black-color;
                color: $standard-black-color;
                background-color: $standard-white-color;
            }

        }
        
        #galleryContactButton {
            @media screen and (max-width: 425px) { display: none; }
        }
        
        #galleryContactButtonMobile { display: none; }
    }

    #galleryCheckBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 3.5rem;
        padding-inline: 10%;
        @media screen and (max-width: 768px) {
            gap: 1.8rem;
            padding-inline: 5%;
        }
        a { color: $standard-hyperlink-color; font-family: sans-serif; }
        
        #galleryCheckBoxFilter {
            display: flex;
            justify-content: right;
            align-items: start;
            gap: 1.5rem;
            .gallery-select {
                font-size: $standard-font-size;
                border: solid $standard-grey-color;
                border-radius: 5px;
                height: 2rem;
                background-color: $standard-black-bg-color;
                color: $standard-grey-color;
                transition: 300ms;
                &:hover {
                    cursor: pointer;
                    background-color: $standard-white-bg-color;
                    border: solid $standard-white-bg-color;
                    color: $standard-black-color;
                }
            }
        }
        
        #galleryCheckBoxCategory {
            display: flex;
            gap: 3rem;
            justify-content: right;
            @media screen and (max-width:768px) {
                flex-wrap: wrap;
                gap: 1.5rem;
                
            }
            a {
                cursor: pointer;
            }
        }
    }

    #gridContainer {
        margin-block: 1.5rem;
        padding-inline: 10%;
        column-count: 4;
        column-gap: 2rem;
        @media screen and (max-width: 768px) {
            padding-inline: 5%;
        }
        
        @media screen and (max-width: 1024px) {column-count: 3;}
        @media screen and (max-width: 768px) {column-count: 2; column-gap: 1rem;}
        @media screen and (max-width: 425px) {column-count: 1;}
        
        .grid-blocks {
            border-radius: $standard-border-radius-10px;
            overflow: hidden;
            display: inline-block;
            margin: 0;
            margin-top: 2rem;
            @media screen and (max-width: 768px) {
                margin-top: 1rem;
            }
            
            .grid-info {
                position: absolute;
                padding: 0;
                color: aliceblue;
                z-index: 1;
                opacity: 0;
                // border: solid red;
                // width: 15%;
            }
            .grid-images {
                width: 100%;
                transition: 300ms;
                transform: scale(1.09);
                &:hover {
                    cursor: pointer;
                    transform: scale(1.02);
                    filter: blur(2px);
                }
                
            }
        }

        .grid-product-blocks { border: solid $standard-grey-color; }

    }

    #arrowBoxGallery {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        width: 5vw;
        opacity: 0;
        @include large-mobile {
            width: 12vw;
        }
        svg {
            fill: $standard-white-color;
            &:hover {
                cursor: pointer;
            }
        }
    }
    
}

footer {
    color: $standard-black-color;
    background-color: $standard-white-bg-color;

    width: 100vw;
    height: max-content; 
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8rem 10%;
    @include large-mobile {
        flex-direction: column;
        padding-inline: 5%;
        justify-content: center;
    }
    @include large-tablet {
        padding: 5%;
    }
    #footerLeft {
        p {
            font-style: italic;
            letter-spacing: 0.1rem;
        }
    }

    #footerRight {
        display: flex; 
        gap: 2.5rem;
        @include large-mobile {
            flex-direction: column;
        }
        #footerReachUs {
            #footerSocial {
                display: flex;
                gap: 0.6rem;
                .btn {
                    border: 0.5px solid $standard-black-bg-color;
                    .bi {
                        fill: $standard-black-bg-color;
                    }
                }
            }
        }
        #footerMap {
            iframe {
                border: 0.6px solid $standard-black-color;
                border-radius: $standard-border-radius-10px;
                width: 100%;
            }
        }
    }
}
