body #bodyPage #mainClients .client-rows .client-boxes {
  overflow: hidden;
}

body #bodyPage #mainClientsTablet, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapseText2, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapseText3, body #landingPage #mainNavbar .navbar-collapse li #toggleOn, body #landingPage #mainNavbar .navbar-collapse li #moonMode {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol .bts-card-text {
  border: none;
}

body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse1:hover, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse2:hover, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse3:hover, body #landingPage #mainNavbar .navbar-collapse li .dark-light-toggle:hover {
  cursor: pointer;
}

body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse1, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse2, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse3 {
  text-decoration: none;
}

.debug-border-one {
  border: solid red;
}

.debug-border-two {
  border: solid green;
}

.debug-border-three {
  border: solid blue;
}

body {
  background-color: #1C1C1C;
}
body #aBrand {
  color: #ADADAD;
}
body #companyTitleBoxMobile {
  color: #ADADAD;
}
body #navbarToggler {
  border: solid #ADADAD;
}
@media screen and (max-width: 991px) {
  body #navbarNavDropdown {
    border: solid #212529;
  }
}
body .nav-link {
  color: hsl(60, 0%, 100%);
}
@media screen and (max-width: 991px) {
  body .nav-link {
    color: #212529;
  }
}
body #lightModeBtn {
  border: solid hsl(60, 0%, 100%);
}
@media screen and (max-width: 991px) {
  body #lightModeBtn {
    border: solid #212529;
  }
}
body #lightModeToggle {
  background-color: hsl(60, 0%, 100%);
}
@media screen and (max-width: 991px) {
  body #lightModeToggle {
    background-color: #212529;
  }
}
body .layer {
  border: 25px solid #1C1C1C;
}
body #services {
  color: #ADADAD;
}
body #services h1, body #services h4 {
  color: #ADADAD;
}
body .white-layer {
  background-color: #1C1C1C;
}
body #btsTextBoxCol hr {
  color: #ADADAD;
}
body #btsTextBoxCol h3 {
  color: #ADADAD;
}
body #btsTextBoxCol .bts-heading-texts {
  color: #ADADAD;
}
body #btsTextBoxCol .bts-card-text {
  background-color: #1C1C1C;
  color: #ADADAD;
}
body #professionalHeadingCol {
  color: #ADADAD;
}
body .professional-cards {
  border: solid #ADADAD;
  background-color: #1C1C1C;
  color: #ADADAD;
}
body .professional-cards a {
  color: hsl(168, 100%, 76%);
}
body #mainClients {
  color: #ADADAD;
}
body #mainClients .client-rows .client-boxes {
  background-color: hsl(0, 0%, 90%);
  border: 0.95px solid #ADADAD;
}
body #mainClientsTablet {
  color: #ADADAD;
}
body #arrowBox svg {
  fill: #ADADAD;
  transition: 300ms;
}
body footer {
  color: #212529;
  background-color: hsl(0, 0%, 90%);
}
body footer #footerRight #footerReachUs #footerSocial .btn {
  border: 0.5px solid #1C1C1C;
}
body footer #footerRight #footerReachUs #footerSocial .btn .bi {
  fill: #1C1C1C;
}
body #galleryHeading {
  color: #ADADAD;
}
body #galleryHeading button {
  background-color: #1C1C1C;
  color: #ADADAD;
  border: solid #ADADAD;
  transition: 300ms;
}
body #galleryHeading button:hover {
  border: solid #212529;
  color: #212529;
  background-color: hsl(60, 0%, 100%);
}
body #galleryCheckBox a {
  color: hsl(168, 100%, 76%);
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
body p, body h3, body span {
  font-family: sans-serif;
}
body #landingPage {
  padding-inline: 0px !important;
}
body #landingPage #mainNavbar {
  z-index: 1;
  position: absolute;
  top: 4%;
  right: 10%;
  padding-bottom: 0;
}
@media screen and (max-width: 991px) and (min-width: 951px) {
  body #landingPage #mainNavbar {
    position: relative;
  }
}
@media (max-width: 1024px) {
  body #landingPage #mainNavbar {
    top: 4%;
    right: 0%;
  }
}
@media (max-width: 950px) {
  body #landingPage #mainNavbar {
    position: relative;
  }
}
@media (max-width: 425px) {
  body #landingPage #mainNavbar {
    padding-top: 1.2rem;
  }
}
@media screen and (max-width: 991px) {
  body #landingPage #mainNavbar .navbar-collapse {
    position: absolute;
    right: 0;
    top: 110%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.7);
    padding-block: 2rem;
    padding-left: 2rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
body #landingPage #mainNavbar .navbar-collapse .dropdown-menu li {
  margin: 0;
}
body #landingPage #mainNavbar .navbar-collapse .navbar-link:hover, body #landingPage #mainNavbar .navbar-collapse li .navbar-dark-light-toggle:hover {
  cursor: pointer;
}
body #landingPage #mainNavbar .navbar-collapse li {
  margin-right: 3em;
  display: block;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  body #landingPage #mainNavbar .navbar-collapse li {
    margin-right: 2em;
  }
}
body #landingPage #mainNavbar .navbar-collapse #lightModeBtn {
  padding-inline: 2px;
  width: 2.3rem;
  height: 1.2rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
}
body #landingPage #mainNavbar .navbar-collapse #lightModeBtn:hover {
  cursor: pointer;
}
body #landingPage #mainNavbar .navbar-collapse #lightModeBtn #lightModeToggle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 10px;
}
body #landingPage #mainNavbar #aBrand {
  position: absolute;
  left: -55%;
  display: none;
  font-family: "Inter";
}
@media (max-width: 950px) {
  body #landingPage #mainNavbar #aBrand {
    display: block;
    position: static;
  }
}
@media screen and (max-width: 991px) {
  body #landingPage #mainNavbar #aBrand {
    display: block;
    position: static;
  }
}
@media (max-width: 425px) {
  body #landingPage #mainNavbar #aBrand {
    visibility: hidden;
  }
}
body #landingPage #mainCarousel {
  z-index: 0;
}
body #landingPage #mainCarousel .carousel-img {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  background-position: 50% 50%;
}
@media (max-width: 1024px) {
  body #landingPage #mainCarousel .carousel-img {
    height: 80vh;
  }
}
@media (max-width: 425px) {
  body #landingPage #mainCarousel .carousel-img {
    height: 90vh;
  }
}
body #landingPage #mainCarousel #carousel1 {
  background-image: url(../assets/gallery/food/food-84.webp);
}
body #landingPage #mainCarousel #carousel2 {
  background-image: url(../assets/gallery/company/company-1.webp);
}
@media (max-width: 425px) {
  body #landingPage #mainCarousel #carousel2 {
    background-position: 61% 50%;
  }
}
body #landingPage #mainCarousel #carousel3 {
  background-image: url(../assets/gallery/architecture/architecture-4.webp);
}
@media (max-width: 425px) {
  body #landingPage #mainCarousel #carousel3 {
    background-position: 43% 50%;
  }
}
body #landingPage #mainCarousel .layer {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0% 22%, rgba(255, 255, 255, 0.1) 80% 100%);
  height: 100%;
  width: 100%;
  border-radius: 35px;
  opacity: 1;
}
@media (max-width: 425px) {
  body #landingPage #mainCarousel .layer {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0% 60%, rgba(0, 0, 0, 0.8) 100% 0%);
  }
}
body #landingPage #mainCarousel #companyTitle {
  color: hsl(60, 0%, 100%);
  position: absolute;
  top: 60%;
  padding-inline: 65px;
  z-index: 1;
}
@media (max-width: 425px) {
  body #landingPage #mainCarousel #companyTitle {
    display: none;
  }
}
body #landingPage #mainCarousel #companyTitle #companyRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
body #landingPage #mainCarousel #companyTitle #companyRow #companyImgBox {
  max-width: 10vw;
}
@media (max-width: 767px) {
  body #landingPage #mainCarousel #companyTitle #companyRow #companyImgBox {
    max-width: 15vw;
  }
}
body #landingPage #mainCarousel #companyTitle #companyRow #companyImgBox img {
  width: 100%;
}
body #landingPage #mainCarousel #companyTitle #companyRow #companyTitleBox h1 {
  font-size: 6.5vw;
  font-weight: 700;
  font-family: "Inter";
}
body #landingPage #mainCarousel #companyTitle #companyRow #companyTitleBox h4 {
  margin-left: 2%;
  font-style: italic;
  letter-spacing: 0.8rem;
  font-weight: 100;
  font-size: 2rem;
}
@media screen and (max-width: 560px) {
  body #landingPage #mainCarousel #companyTitle #companyRow #companyTitleBox h4 {
    letter-spacing: 0.4rem;
  }
}
body #landingPage #mainCarousel #companyTitleMobile {
  color: #212529;
  display: flex;
  justify-content: start;
  position: absolute;
  top: -4rem;
  padding-left: 1.5rem;
  width: 100vw;
  height: 9%;
  z-index: 1;
}
@media screen and (min-width: 426px) {
  body #landingPage #mainCarousel #companyTitleMobile {
    display: none;
  }
}
@media screen and (max-width: 425px) and (min-width: 376px) {
  body #landingPage #mainCarousel #companyTitleMobile {
    padding-top: 15%;
  }
}
body #landingPage #mainCarousel #companyTitleMobile #companyRowMobile {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 0.6rem;
}
body #landingPage #mainCarousel #companyTitleMobile #companyRowMobile #companyImgBoxMobile {
  width: 10vw;
}
body #landingPage #mainCarousel #companyTitleMobile #companyRowMobile #companyImgBoxMobile #blackLogo {
  display: none;
  transition: 400ms;
}
body #landingPage #mainCarousel #companyTitleMobile #companyRowMobile #companyImgBoxMobile #whiteLogo {
  transition: 400ms;
}
body #landingPage #mainCarousel #companyTitleMobile #companyRowMobile #companyImgBoxMobile img {
  width: 100%;
}
body #landingPage #mainCarousel #companyTitleMobile #companyRowMobile #companyTitleBoxMobile h1 {
  font-size: 7vw;
  font-weight: 900;
  font-family: "Inter";
}
body #landingPage #mainCarousel #companySloganMobile {
  width: 100vw;
  position: absolute;
  color: hsl(60, 0%, 100%);
  top: 5%;
  z-index: 1;
  padding-inline: 2rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-weight: 100;
  font-size: 2rem;
}
@media screen and (min-width: 426px) {
  body #landingPage #mainCarousel #companySloganMobile {
    display: none;
  }
}
body #bodyPage #services {
  padding-inline: 10%;
  margin-bottom: 2rem;
}
@media (max-width: 425px) {
  body #bodyPage #services {
    padding-inline: 5%;
  }
}
body #bodyPage #services #servicesHeading {
  margin-block: 2rem;
}
body #bodyPage #services .service-texts {
  padding: 0.7rem;
}
@media (max-width: 425px) {
  body #bodyPage #services .service-texts {
    padding-left: 0;
  }
}
body #bodyPage #services #servicesRow1 {
  -moz-column-count: 5;
       column-count: 5;
  margin: 0;
  gap: 0;
}
@media screen and (max-width: 425px) {
  body #bodyPage #services #servicesRow1 {
    -moz-column-count: 1;
         column-count: 1;
  }
}
body #bodyPage #services #servicesRow2 {
  -moz-column-count: 5;
       column-count: 5;
  color: #ADADAD;
  margin: 0;
  gap: 0;
}
@media screen and (max-width: 425px) {
  body #bodyPage #services #servicesRow2 {
    -moz-column-count: 1;
         column-count: 1;
  }
}
body #bodyPage #services img {
  width: 100%;
}
body #bodyPage #btsCol {
  flex-direction: row;
  height: auto;
  padding-inline: 23%;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  body #bodyPage #btsCol {
    justify-content: space-around;
    padding-inline: 30%;
  }
}
@media (max-width: 950px) {
  body #bodyPage #btsCol {
    padding-inline: 27%;
  }
}
@media (max-width: 767px) {
  body #bodyPage #btsCol {
    flex-direction: column;
    padding-inline: 3%;
  }
}
body #bodyPage #btsCol #btsFirstChild {
  min-width: 100%;
  min-height: 75vh;
  max-height: 80vh;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  body #bodyPage #btsCol #btsFirstChild {
    min-height: 75vh;
    max-height: 80vh;
  }
}
@media (max-width: 767px) {
  body #bodyPage #btsCol #btsFirstChild {
    min-height: 35rem;
  }
}
@media (max-width: 659px) and (min-width: 426px) {
  body #bodyPage #btsCol #btsFirstChild {
    min-height: 70vh;
  }
}
@media (max-width: 425px) {
  body #bodyPage #btsCol #btsFirstChild {
    min-height: 55vh;
    max-height: 60vh;
  }
}
body #bodyPage #btsCol #btsFirstChild .white-layer {
  position: absolute;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  body #bodyPage #btsCol #btsFirstChild .white-layer {
    display: none;
  }
}
body #bodyPage #btsCol #btsFirstChild .bts-image-box {
  overflow-x: hidden;
}
body #bodyPage #btsCol #btsFirstChild .bts-back-images {
  width: 40%;
  transform: translate(0%, -20%);
}
@media (max-width: 950px) {
  body #bodyPage #btsCol #btsFirstChild .bts-back-images {
    width: 45%;
    z-index: 1;
  }
}
body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
  position: absolute;
  z-index: 2;
  max-width: 20%;
  min-width: 18%;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
    min-width: 10%;
    max-width: 20%;
  }
}
@media (max-width: 1024px) {
  body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
    max-width: 30%;
    left: 13%;
  }
}
@media (max-width: 950px) {
  body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
    max-width: 35%;
    left: 10%;
  }
}
@media (max-width: 425px) {
  body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
    max-width: 47%;
    min-width: 45%;
  }
}
@media (max-width: 320px) {
  body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
    min-width: 50%;
  }
}
@media (max-width: 2560px) and (min-width: 1441px) {
  body #bodyPage #btsCol #btsFirstChild #btsBackImg2 {
    z-index: 1;
  }
}
body #bodyPage #btsCol #btsSecondChild {
  max-width: 100%;
}
@media (max-width: 1024px) {
  body #bodyPage #btsCol #btsSecondChild {
    min-width: 100%;
  }
}
body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol {
  width: 30vw;
}
body #bodyPage #professionalHeadingCol {
  padding-inline: 10%;
}
body #bodyPage #professionalCardsCol {
  padding-inline: 10%;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  body #bodyPage #professionalCardsCol {
    justify-content: space-around;
  }
}
@media (max-width: 950px) {
  body #bodyPage #professionalCardsCol {
    padding-inline: 5%;
  }
}
body #bodyPage #professionalCardsCol .professional-cards {
  border-radius: 20px;
  overflow-x: hidden;
  max-width: 25%;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 28%;
  }
}
@media (max-width: 1024px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 30%;
  }
}
@media (max-width: 950px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 34%;
  }
}
@media (max-width: 767px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 70%;
  }
}
@media (max-width: 425px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 80%;
  }
}
body #bodyPage #mainClients {
  padding-inline: 10%;
}
@media screen and (max-width: 768px) {
  body #bodyPage #mainClients {
    padding-inline: 5%;
  }
}
@media screen and (max-width: 700px) {
  body #bodyPage #mainClients {
    padding-inline: 3%;
  }
}
@media screen and (max-width: 660px) {
  body #bodyPage #mainClients {
    display: none;
  }
}
body #bodyPage #mainClients .client-rows .client-col {
  display: flex;
}
@media (max-width: 767px) {
  body #bodyPage #mainClients .client-rows {
    padding-inline: 5%;
  }
}
body #bodyPage #mainClients .client-rows .client-boxes {
  height: 0;
  width: 20%;
  padding-bottom: 20%;
  background-color: hsl(0, 0%, 90%);
}
body #bodyPage #mainClientsTablet .client-rows-tablet {
  padding-inline: 1%;
}
body #bodyPage #mainClientsTablet .client-boxes-tablet {
  height: 0;
  width: 40%;
  padding-bottom: 40%;
  overflow: hidden;
}
@media screen and (max-width: 660px) {
  body #bodyPage #mainClientsTablet {
    display: block;
  }
}
body #bodyPage #arrowBox {
  display: flex;
  align-items: start;
  justify-content: end;
  height: 20vh;
}
@media (max-width: 425px) {
  body #bodyPage #arrowBox {
    height: auto;
  }
}
body #bodyPage #arrowBox .bi-arrow-up-circle-fill {
  width: 5%;
}
body #bodyPage #arrowBox .bi-arrow-up-circle-fill:hover {
  cursor: pointer;
}
@media (max-width: 425px) {
  body #bodyPage #arrowBox .bi-arrow-up-circle-fill {
    width: 16% !important;
  }
}
@media (max-width: 950px) {
  body #bodyPage #arrowBox .bi-arrow-up-circle-fill {
    width: 8%;
  }
}
body #galleryHeading {
  display: flex;
  justify-content: space-between;
  padding-inline: 10%;
  padding-block: 1rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body #galleryHeading {
    padding-block: 0.8rem;
    padding-inline: 5%;
  }
}
@media (max-width: 425px) {
  body #galleryHeading {
    justify-content: space-between;
  }
}
body #galleryHeading h1 {
  font-family: "Inter";
}
body #galleryHeading div {
  width: 5vw;
}
@media screen and (max-width: 768px) {
  body #galleryHeading div {
    width: 8vw;
  }
}
@media (max-width: 425px) {
  body #galleryHeading div {
    width: 12vw;
  }
}
body #galleryHeading div img {
  width: 100%;
}
body #galleryHeading button {
  border-radius: 7px;
  height: 3rem;
  font-size: 16px;
}
body #galleryHeading button:hover {
  cursor: pointer;
}
body #galleryHeading #galleryContactButtonMobile {
  display: none;
}
@media screen and (max-width: 425px) {
  body #galleryHeading #galleryContactButton {
    display: none;
  }
}
body #galleryCheckBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 3.5rem;
  padding-inline: 10%;
}
@media screen and (max-width: 768px) {
  body #galleryCheckBox {
    gap: 1.8rem;
    padding-inline: 5%;
  }
}
body #galleryCheckBox a {
  font-family: sans-serif;
}
body #galleryCheckBox #galleryCheckBoxFilter {
  display: flex;
  justify-content: right;
  align-items: start;
  gap: 1.5rem;
}
body #galleryCheckBox #galleryCheckBoxFilter .gallery-select {
  font-size: 16px;
  border: solid #ADADAD;
  border-radius: 5px;
  height: 2rem;
  background-color: #1C1C1C;
  color: #ADADAD;
  transition: 300ms;
}
body #galleryCheckBox #galleryCheckBoxFilter .gallery-select:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 90%);
  border: solid hsl(0, 0%, 90%);
  color: #212529;
}
body #galleryCheckBox #galleryCheckBoxCategory {
  display: flex;
  gap: 3rem;
  justify-content: right;
}
@media screen and (max-width: 768px) {
  body #galleryCheckBox #galleryCheckBoxCategory {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
body #galleryCheckBox #galleryCheckBoxCategory a {
  cursor: pointer;
}
body #gridContainer {
  margin-block: 1.5rem;
  padding-inline: 10%;
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media screen and (max-width: 768px) {
  body #gridContainer {
    padding-inline: 5%;
  }
}
@media screen and (max-width: 1024px) {
  body #gridContainer {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media screen and (max-width: 768px) {
  body #gridContainer {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
@media screen and (max-width: 425px) {
  body #gridContainer {
    -moz-column-count: 1;
         column-count: 1;
  }
}
body #gridContainer .grid-blocks {
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  body #gridContainer .grid-blocks {
    margin-top: 1rem;
  }
}
body #gridContainer .grid-blocks .grid-info {
  position: absolute;
  padding: 0;
  color: aliceblue;
  z-index: 1;
  opacity: 0;
}
body #gridContainer .grid-blocks .grid-images {
  width: 100%;
  transition: 300ms;
  transform: scale(1.09);
}
body #gridContainer .grid-blocks .grid-images:hover {
  cursor: pointer;
  transform: scale(1.02);
  filter: blur(2px);
}
body #gridContainer .grid-product-blocks {
  border: solid #ADADAD;
}

footer {
  width: 100vw;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline: 10%;
}
@media (max-width: 425px) {
  footer {
    flex-direction: column;
    padding-inline: 5%;
    justify-content: center;
  }
}
@media (max-width: 950px) {
  footer {
    padding: 5%;
  }
}
footer #footerRight {
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 425px) {
  footer #footerRight {
    flex-direction: column;
  }
}
footer #footerRight #footerReachUs #footerSocial {
  display: flex;
  gap: 0.6rem;
}
footer #footerRight #footerReachUs #footerSocial .btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
}
footer #footerRight #footerMap iframe {
  border-radius: 10px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */