body #bodyPage #howWeWork, body #bodyPage #about, body #galleryHeading, body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks .how-we-work-block-body .how-we-work-block-heading, body #bodyPage #services .service-card-container .service-cards a {
  display: flex;
  align-items: center;
}

body #bodyPage #services .service-card-container {
  display: flex;
  justify-content: center;
}

body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks, body #galleryCheckBox #galleryCheckBoxFilter {
  display: flex;
  align-items: start;
}

body #galleryCheckBox #galleryCheckBoxCategory {
  display: flex;
  justify-content: right;
}

body #galleryCheckBox #galleryCheckBoxFilter {
  justify-content: right;
}

body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container, body #bodyPage #services .service-card-container .service-cards, .contact-us-page .contact-content form, .contact-us-page, body #galleryCheckBox {
  display: flex;
  flex-direction: column;
}

body #galleryCheckBox {
  justify-content: center;
}

body #bodyPage #services .service-card-container .service-cards a {
  justify-content: center;
}

footer, .contact-us-page .contact-content form .contact-content-form-name-email, .contact-us-page .contact-content {
  display: flex;
  justify-content: space-between;
}

body #galleryHeading, body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks .how-we-work-block-body .how-we-work-block-heading {
  justify-content: space-between;
}

body #bodyPage #about {
  justify-content: left;
}

body #bodyPage #projects .project-blocks .project-text-blocks {
  display: inline-flex;
  align-items: center;
}

.social-btn {
  border-radius: 50%;
  border: 0.99px solid #212529;
  width: 3.8rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-btn svg {
  fill: #212529;
}

.contact-us-page {
  border: solid #212529;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  padding: 3% 8%;
  gap: 1rem;
  transform: translateX(100%);
}
.contact-us-page h2, .contact-us-page h4, .contact-us-page p {
  font-family: "Montserrat";
  color: #212529;
}
.contact-us-page h2 {
  font-weight: 500;
  font-size: 79px;
  line-height: 1.2;
  margin: 0;
}
.contact-us-page .contact-x-btn {
  display: flex;
  justify-content: end;
}
.contact-us-page .contact-x-btn:hover {
  cursor: pointer;
}
.contact-us-page .contact-x-btn svg {
  width: 1.5rem;
  height: 1.5rem;
}
.contact-us-page .contact-us-map {
  border: 1.5px solid #212529;
  border-radius: 10px;
  overflow: hidden;
  height: 30rem;
}
.contact-us-page .contact-us-map iframe {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}
.contact-us-page .contact-content {
  gap: 3rem;
}
.contact-us-page .contact-content .contact-content-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-us-page .contact-content .contact-content-info .contact-content-info-heading h2 {
  margin: 0;
  font-weight: 800;
}
.contact-us-page .contact-content .contact-content-info .contact-content-info-text h4 {
  font-weight: 600;
}
.contact-us-page .contact-content .contact-content-info .contact-content-info-text p {
  margin: 0;
}
.contact-us-page .contact-content .contact-content-info .contact-content-info-social {
  display: flex;
  gap: 0.5rem;
}
.contact-us-page .contact-content form {
  width: 50%;
  gap: 2rem;
}
.contact-us-page .contact-content form .contact-form-padding {
  padding: 1rem;
}
.contact-us-page .contact-content form .contact-form-bg {
  background-color: whitesmoke;
}
.contact-us-page .contact-content form input, .contact-us-page .contact-content form textarea {
  border: none;
  outline: none;
}
.contact-us-page .contact-content form .contact-content-form-name-email {
  gap: 1rem;
}
.contact-us-page .contact-content form .contact-content-form-name-email input {
  width: 100%;
}
.contact-us-page .contact-content form .contact-form-submit {
  display: inline-flex;
}
.contact-us-page .contact-content form .contact-form-submit input {
  padding-inline: 3rem;
  color: hsl(60, 0%, 100%);
  background-color: #1C1C1C;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background-color: #1C1C1C;
}
body h1, body h2, body h3, body h4, body h5, body p, body span {
  font-family: "Montserrat";
  color: hsl(60, 0%, 100%);
}
body #landingPage {
  padding-inline: 0px !important;
  margin-top: 4.5rem;
}
body #landingPage #mainNavbar {
  z-index: 1;
  padding: 0 1.5rem;
  margin-top: 1.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #1C1C1C;
}
body #landingPage #mainNavbar #mainNavbarFirstChild {
  padding: 0;
}
@media screen and (min-width: 1440px) {
  body #landingPage #mainNavbar #mainNavbarFirstChild #aBrand {
    margin: 0;
    width: 25rem;
    display: flex;
    justify-content: center;
  }
}
body #landingPage #mainNavbar #mainNavbarFirstChild #aBrand div {
  width: 10rem;
}
@media screen and (max-width: 500px) {
  body #landingPage #mainNavbar #mainNavbarFirstChild #aBrand div {
    width: 8rem;
  }
}
body #landingPage #mainNavbar #mainNavbarFirstChild #aBrand div img {
  width: 100%;
}
body #landingPage #mainNavbar #mainNavbarFirstChild #aBrand div img:nth-child(2) {
  display: none;
  opacity: 0;
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarToggler {
  border: solid #ADADAD;
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarToggler .navbar-toggler-stripes {
  background-color: #ADADAD;
  width: 1rem;
  height: 0.1rem;
  margin-block: 4px;
  border-radius: 10px;
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 991px) {
  body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList {
    position: absolute;
    right: 0;
    top: 110%;
    z-index: 1;
    width: auto;
    padding: 2rem;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0.7);
    padding-block: 2rem;
    padding-left: 2rem;
    border: solid #212529;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild {
  display: flex;
  z-index: 1;
}
@media screen and (min-width: 1441px) {
  body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild {
    gap: 3rem;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild {
    gap: 2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 992px) {
  body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild {
    gap: 1rem;
  }
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild .dropdown-menu li {
  margin: 0;
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild li {
  display: block;
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild .navbar-link {
  color: hsl(60, 0%, 100%);
}
@media screen and (max-width: 991px) {
  body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild .navbar-link {
    color: #212529;
  }
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild .navbar-link:hover {
  cursor: pointer;
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild #lightModeBtn {
  padding-inline: 2px;
  width: 2.3rem;
  height: 1.2rem;
  border: 1.5px solid hsl(60, 0%, 100%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild #lightModeBtn:hover {
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild #lightModeBtn {
    border: solid #212529;
  }
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild #lightModeBtn #lightModeToggle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 10px;
  background-color: hsl(60, 0%, 100%);
}
@media screen and (max-width: 991px) {
  body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild #lightModeBtn #lightModeToggle {
    background-color: #212529;
  }
}
@media screen and (min-width: 992px) {
  body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild #navContactBtn {
    padding: 0.2rem 1rem;
    border: 2px solid hsl(60, 0%, 100%);
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    transition: 400ms;
  }
  body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild #navContactBtn:hover {
    background-color: #fff;
    cursor: pointer;
  }
  body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarListFirstChild #navContactBtn:hover a {
    color: #212529;
  }
}
body #landingPage #mainNavbar #mainNavbarFirstChild #navbarList #navbarHiddenLayer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: none;
  width: 100vw;
  height: 100vh;
}
body #landingPage #mainCarousel {
  z-index: 0;
}
body #landingPage #mainCarousel .carousel-img {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media screen and (max-width: 768px) {
  body #landingPage #mainCarousel .carousel-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50vh;
  }
}
@media screen and (max-width: 500px) {
  body #landingPage #mainCarousel .carousel-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 30vh;
  }
}
body #landingPage #mainCarousel #carousel1 {
  background-image: url(../assets/carousel/1.webp);
}
body #landingPage #mainCarousel #carousel2 {
  background-image: url(../assets/carousel/2.webp);
}
body #landingPage #mainCarousel #carousel3 {
  background-image: url(../assets/carousel/3.webp);
}
body #landingPage #mainCarousel #carousel4 {
  background-image: url(../assets/carousel/4.webp);
}
body #landingPage #mainCarousel #carousel5 {
  background-image: url(../assets/carousel/5.webp);
}
body #landingPage #mainCarousel #carousel6 {
  background-image: url(../assets/carousel/6.webp);
}
body #landingPage #mainCarousel .carousel-layer {
  border: 1.5rem solid #1C1C1C;
  position: relative;
  height: 100%;
  width: 100%;
}
body #landingPage .contact-us-page h2 {
  color: #212529;
}
@media (max-width: 1024px) {
  body #landingPage .contact-us-page {
    width: 30vw;
    height: 60vh;
  }
}
body #bodyPage {
  padding: 0;
}
body #bodyPage #about {
  background-color: whitesmoke;
  padding: 6rem 8%;
  margin-top: 6rem;
  height: auto;
  gap: 4rem;
}
@media screen and (max-width: 900px) {
  body #bodyPage #about {
    font-size: 14px;
    display: block;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 500px) {
  body #bodyPage #about {
    font-size: 12px;
    gap: 1rem;
  }
}
@media screen and (min-width: 901px) {
  body #bodyPage #about #aboutImgBlock {
    width: 32rem;
  }
}
@media screen and (max-width: 900px) {
  body #bodyPage #about #aboutImgBlock {
    display: flex;
    align-items: center;
    width: 3.5rem;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 500px) {
  body #bodyPage #about #aboutImgBlock {
    width: 2.7rem;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  body #bodyPage #about #aboutImgBlock {
    width: 2.2rem;
    gap: 1.2rem;
  }
}
body #bodyPage #about #aboutImgBlock .about-img-container {
  width: 5.5rem;
}
body #bodyPage #about #aboutImgBlock .about-img-container img {
  width: 100%;
}
body #bodyPage #about #aboutImgBlock .about-img-container img:nth-child(1) {
  display: none;
  opacity: 0;
}
@media screen and (min-width: 901px) {
  body #bodyPage #about #aboutImgBlock h2 {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  body #bodyPage #about #aboutImgBlock h2 {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  body #bodyPage #about #aboutImgBlock h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 325px) {
  body #bodyPage #about #aboutImgBlock h2 {
    font-size: 1.2rem;
  }
}
body #bodyPage #about #aboutTextBlock h2, body #bodyPage #about #aboutTextBlock p {
  color: #212529;
}
@media screen and (min-width: 901px) {
  body #bodyPage #about #aboutTextBlock h2 {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 900px) {
  body #bodyPage #about #aboutTextBlock h2 {
    display: none;
  }
}
body #bodyPage #about #aboutTextBlock .read-more-btn, body #bodyPage #about #aboutTextBlock .read-less-btn {
  color: hsl(168, 100%, 76%);
}
body #bodyPage #about #aboutTextBlock .read-more-btn:hover, body #bodyPage #about #aboutTextBlock .read-less-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
body #bodyPage #services {
  padding-inline: 8%;
  margin-block: 8rem 8rem;
}
@media screen and (max-width: 768px) {
  body #bodyPage #services {
    padding-inline: 5%;
  }
}
@media screen and (max-width: 500px) {
  body #bodyPage #services {
    margin-block: 6rem 6rem;
  }
}
body #bodyPage #services .service-heading {
  margin-bottom: 4rem;
}
body #bodyPage #services .service-heading h2, body #bodyPage #services .service-heading p {
  text-align: center;
}
@media screen and (max-width: 500px) {
  body #bodyPage #services .service-heading {
    margin-bottom: 2rem;
  }
}
body #bodyPage #services .service-card-container {
  gap: 2%;
  transition-duration: 300ms;
}
@media screen and (max-width: 1000px) {
  body #bodyPage #services .service-card-container {
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }
}
body #bodyPage #services .service-card-container .service-cards {
  border: 1.5px solid #ADADAD;
  width: 20rem;
  padding: 1rem;
  gap: 1rem;
  transition-duration: 300ms;
}
body #bodyPage #services .service-card-container .service-cards .service-card-img-container {
  width: 18rem;
  height: 18rem;
  margin-inline: auto;
}
body #bodyPage #services .service-card-container .service-cards .service-card-img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
body #bodyPage #services .service-card-container .service-cards .service-card-img-container .service-card-img-tag {
  background-color: #1C1C1C;
  border-radius: 10px;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  bottom: 96%;
  left: 75%;
}
body #bodyPage #services .service-card-container .service-cards .service-card-img-container .service-card-img-tag span {
  font-size: 13px;
  padding: 0.5rem;
  color: hsl(60, 0%, 100%);
}
body #bodyPage #services .service-card-container .service-cards .service-card-content h4 {
  margin-block: 0rem;
}
body #bodyPage #services .service-card-container .service-cards .service-card-content p {
  color: #ADADAD;
  margin-block: 0.5rem;
}
body #bodyPage #services .service-card-container .service-cards a {
  gap: 0.5rem;
  background-color: hsl(0, 0%, 96%);
  border: 2px solid hsl(0, 0%, 96%);
  border-radius: 12px;
  padding: 1rem;
  transition-duration: 300ms;
  color: #212529;
  text-decoration: none;
  font-weight: 900;
  font-size: 22px;
}
body #bodyPage #services .service-card-container .service-cards a:hover {
  cursor: pointer;
  border: 2px solid hsl(0, 0%, 96%);
  background-color: transparent;
  color: hsl(60, 0%, 100%);
}
body #bodyPage #services .service-card-container .service-cards a:hover svg {
  fill: hsl(60, 0%, 100%);
}
body #bodyPage #services .service-card-container .service-cards a svg {
  width: 0.9rem;
  height: 0.9rem;
  fill: #212529;
}
body #bodyPage #projects {
  margin-top: 10rem;
}
body #bodyPage #projects .project-blocks {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  body #bodyPage #projects .project-blocks {
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  body #bodyPage #projects .project-blocks {
    display: inline-block;
    padding-inline: 5%;
  }
}
body #bodyPage #projects .project-blocks .project-img-blocks {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 500px) {
  body #bodyPage #projects .project-blocks .project-img-blocks {
    width: 100%;
  }
}
body #bodyPage #projects .project-blocks .project-img-blocks img {
  width: 100%;
}
@media screen and (min-width: 1441px) {
  body #bodyPage #projects .project-blocks .project-img-blocks img {
    transform: translateY(-20%);
  }
}
body #bodyPage #projects .project-blocks .project-text-blocks {
  width: 50%;
  padding-inline: 10rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  body #bodyPage #projects .project-blocks .project-text-blocks {
    padding-inline: 8%;
  }
}
@media screen and (max-width: 1024px) {
  body #bodyPage #projects .project-blocks .project-text-blocks {
    padding-inline: 3%;
  }
}
@media screen and (max-width: 580px) {
  body #bodyPage #projects .project-blocks .project-text-blocks {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  body #bodyPage #projects .project-blocks .project-text-blocks {
    border-top: solid whitesmoke;
    padding: 0.5rem 0;
    transform: translateY(-100%);
  }
}
body #bodyPage #howWeWork {
  background-color: whitesmoke;
  gap: 3%;
  padding-right: 3%;
}
@media screen and (max-width: 800px) {
  body #bodyPage #howWeWork {
    gap: 0;
    display: block;
    padding: 4rem 5%;
  }
}
body #bodyPage #howWeWork #howWeWorkCarousel {
  width: 45%;
}
@media screen and (max-width: 800px) {
  body #bodyPage #howWeWork #howWeWorkCarousel {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  body #bodyPage #howWeWork #howWeWorkCarousel .carousel-inner .carousel-item img {
    width: 25rem !important;
  }
}
body #bodyPage #howWeWork .how-we-work-content h2, body #bodyPage #howWeWork .how-we-work-content h4, body #bodyPage #howWeWork .how-we-work-content span {
  color: #212529;
}
body #bodyPage #howWeWork .how-we-work-content h2 {
  margin-bottom: 2rem;
}
body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container {
  gap: 1.5rem;
}
body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks {
  border: 2px solid #212529;
  gap: 1rem;
  padding: 0.6rem;
}
@media screen and (max-width: 500px) {
  body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks {
    max-height: 15rem;
  }
}
body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks .how-we-work-block-icon-outer .how-we-work-block-icon-inner {
  border: 2px solid #212529;
  padding: 1rem;
  border-radius: 50%;
  transform: scale(0.85);
}
body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks .how-we-work-block-icon-outer .how-we-work-block-icon-inner svg {
  transform: scale(1);
  fill: #212529;
  min-width: 1.6rem;
  min-height: 1.6rem;
}
@media screen and (max-width: 320px) {
  body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks .how-we-work-block-icon-outer .how-we-work-block-icon-inner svg {
    transform: scale(1);
  }
}
body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks .how-we-work-block-body {
  width: 100%;
}
body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks .how-we-work-block-body .how-we-work-block-heading {
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 500px) {
  body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks .how-we-work-block-body .how-we-work-block-heading {
    display: block;
  }
}
body #bodyPage #howWeWork .how-we-work-content .how-we-work-block-container .how-we-work-blocks .how-we-work-block-body .how-we-work-block-heading h4 {
  margin: 0;
}
body #bodyPage #professionalCardsCol {
  padding: 6rem 8%;
  justify-content: center;
  gap: 2%;
}
@media screen and (max-width: 768px) {
  body #bodyPage #professionalCardsCol {
    gap: 2rem;
    padding-inline: 4rem;
  }
}
@media screen and (max-width: 500px) {
  body #bodyPage #professionalCardsCol {
    gap: 1rem;
    padding: 1rem 5% 4rem;
  }
}
body #bodyPage #professionalCardsCol .professional-cards {
  border-radius: 0;
  border: solid #ADADAD;
  overflow-x: hidden;
  max-width: 25%;
  color: #ADADAD;
  background-color: #1C1C1C;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 28%;
  }
}
@media (max-width: 1024px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 30%;
  }
}
@media (max-width: 950px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 34%;
  }
}
@media (max-width: 767px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 70%;
  }
}
@media (max-width: 425px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 80%;
  }
}
body #bodyPage #professionalCardsCol .professional-cards img {
  border-radius: 0;
}
body #bodyPage #professionalCardsCol .professional-cards .card-body h5, body #bodyPage #professionalCardsCol .professional-cards .card-body p {
  height: 3rem;
}
body #bodyPage #professionalCardsCol .professional-cards .card-body p {
  color: #ADADAD;
}
body #bodyPage #professionalCardsCol .professional-cards .card-body h5 {
  margin-bottom: 0.5rem;
}
body #bodyPage #professionalCardsCol .professional-cards .card-body .card-title {
  display: flex;
  justify-content: start;
  height: 3rem;
}
@media screen and (max-width: 860px) {
  body #bodyPage #professionalCardsCol .professional-cards .card-body .card-title {
    flex-direction: column;
  }
}
body #bodyPage #professionalCardsCol .professional-cards .card-body .card-title p {
  margin: 0;
}
body #bodyPage #professionalCardsCol .professional-cards .card-body a {
  color: #fff;
  transition-duration: 300ms;
}
body #bodyPage #professionalCardsCol .professional-cards .card-body a:hover {
  color: #ADADAD;
}
body #bodyPage #clientContainer {
  padding-inline: 8%;
  padding-block: 6rem;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  body #bodyPage #clientContainer {
    padding-inline: 5%;
  }
}
@media screen and (max-width: 500px) {
  body #bodyPage #clientContainer {
    padding-inline: 3%;
    padding-block: 4rem;
  }
}
body #bodyPage #clientContainer h2 {
  color: #212529;
}
body #bodyPage #clientContainer #clientsGrid {
  -moz-column-count: 6;
       column-count: 6;
  gap: 3rem;
  height: auto;
}
@media screen and (max-width: 768px) {
  body #bodyPage #clientContainer #clientsGrid {
    -moz-column-count: 4;
         column-count: 4;
    gap: 2rem;
  }
}
@media screen and (max-width: 500px) {
  body #bodyPage #clientContainer #clientsGrid {
    -moz-column-count: 3;
         column-count: 3;
    gap: 1.5rem;
  }
}
body #bodyPage #clientContainer #clientsGrid .client-blocks {
  margin-top: 1.5rem;
  width: auto;
  display: inline-block;
}
body #bodyPage #clientContainer #clientsGrid .client-blocks img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  body #bodyPage #clientContainer #clientsGrid .client-blocks {
    margin-top: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  body #bodyPage #clientContainer #clientsGrid .client-blocks {
    margin-top: 1rem;
  }
}
body #bodyPage #arrowBox {
  position: fixed;
  right: 2rem;
  bottom: 9rem;
  width: 5vw;
  opacity: 0;
  display: none;
}
@media screen and (max-width: 500px) {
  body #bodyPage #arrowBox {
    width: 12vw;
    right: 0.3rem;
    bottom: 1rem;
  }
}
body #bodyPage #arrowBox svg {
  fill: #ADADAD;
  transition: 300ms;
}
body #bodyPage #arrowBox svg:hover {
  cursor: pointer;
}
body #galleryHeading {
  padding-inline: 8%;
  padding-block: 1rem;
  color: #ADADAD;
}
@media screen and (max-width: 768px) {
  body #galleryHeading {
    padding-block: 0.8rem;
    padding-inline: 5%;
  }
}
@media (max-width: 425px) {
  body #galleryHeading {
    justify-content: space-between;
  }
}
body #galleryHeading h1 {
  font-family: "Montserrat";
}
body #galleryHeading div {
  width: 5vw;
}
@media screen and (max-width: 768px) {
  body #galleryHeading div {
    width: 8vw;
  }
}
@media (max-width: 425px) {
  body #galleryHeading div {
    width: 12vw;
  }
}
body #galleryHeading div img {
  width: 100%;
}
body #galleryHeading button {
  height: 3rem;
  font-size: 16px;
  background-color: #1C1C1C;
  color: #ADADAD;
  border-radius: 7px;
  border: solid #ADADAD;
  transition: 300ms;
}
body #galleryHeading button:hover {
  cursor: pointer;
  border: solid #212529;
  color: #212529;
  background-color: hsl(60, 0%, 100%);
}
@media screen and (max-width: 425px) {
  body #galleryHeading #galleryContactButton {
    display: none;
  }
}
body #galleryHeading #galleryContactButtonMobile {
  display: none;
}
body #galleryCheckBox {
  align-items: end;
  gap: 3.5rem;
  padding-inline: 8%;
}
@media screen and (max-width: 768px) {
  body #galleryCheckBox {
    gap: 1.8rem;
    padding-inline: 5%;
  }
}
body #galleryCheckBox a {
  color: hsl(168, 100%, 76%);
  font-family: "Montserrat";
}
body #galleryCheckBox #galleryCheckBoxFilter {
  gap: 1.5rem;
}
body #galleryCheckBox #galleryCheckBoxFilter .gallery-select {
  font-size: 16px;
  border: solid #ADADAD;
  border-radius: 5px;
  height: 2rem;
  background-color: #1C1C1C;
  color: #ADADAD;
  transition: 300ms;
}
body #galleryCheckBox #galleryCheckBoxFilter .gallery-select:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 96%);
  border: solid hsl(0, 0%, 96%);
  color: #212529;
}
body #galleryCheckBox #galleryCheckBoxCategory {
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  body #galleryCheckBox #galleryCheckBoxCategory {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
body #galleryCheckBox #galleryCheckBoxCategory a {
  cursor: pointer;
}
body #gridContainer {
  margin-block: 1.5rem;
  padding-inline: 8%;
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media screen and (max-width: 1024px) {
  body #gridContainer {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media screen and (max-width: 768px) {
  body #gridContainer {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    padding-inline: 5%;
  }
}
@media screen and (max-width: 425px) {
  body #gridContainer {
    -moz-column-count: 1;
         column-count: 1;
  }
}
body #gridContainer .grid-blocks {
  overflow: hidden;
  display: inline-block;
  margin: 0;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  body #gridContainer .grid-blocks {
    margin-top: 1rem;
  }
}
body #gridContainer .grid-blocks .grid-info {
  position: absolute;
  padding: 0;
  color: aliceblue;
  z-index: 1;
  opacity: 0;
}
body #gridContainer .grid-blocks .grid-images {
  width: 100%;
  transition: 300ms;
  transform: scale(1.09);
}
body #gridContainer .grid-blocks .grid-images:hover {
  cursor: pointer;
  transform: scale(1.02);
  filter: blur(2px);
}
body #gridContainer .grid-product-blocks {
  border: solid #ADADAD;
}
body #arrowBoxGallery {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5vw;
  opacity: 0;
}
@media (max-width: 425px) {
  body #arrowBoxGallery {
    width: 12vw;
  }
}
body #arrowBoxGallery svg {
  fill: hsl(60, 0%, 100%);
}
body #arrowBoxGallery svg:hover {
  cursor: pointer;
}

footer {
  color: #212529;
  background-color: hsl(0, 0%, 96%);
  width: 100vw;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  flex-wrap: wrap;
  padding: 8rem 10%;
}
@media (max-width: 425px) {
  footer {
    flex-direction: column;
    padding-inline: 5%;
    justify-content: center;
  }
}
@media (max-width: 950px) {
  footer {
    padding: 5%;
  }
}
footer #footerLeft h4 {
  color: #212529;
}
footer #footerLeft p {
  color: #212529;
  font-style: italic;
  letter-spacing: 0.1rem;
}
footer #footerRight {
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 425px) {
  footer #footerRight {
    flex-direction: column;
  }
}
footer #footerRight #footerReachUs h4 {
  color: #212529;
}
footer #footerRight #footerReachUs #footerSocial {
  display: flex;
  gap: 0.6rem;
}
footer #footerRight #footerReachUs #footerSocial .btn {
  border: 0.5px solid #1C1C1C;
}
footer #footerRight #footerReachUs #footerSocial .btn .bi {
  fill: #1C1C1C;
}
footer #footerRight #footerMap iframe {
  border: 0.6px solid #212529;
  border-radius: 10px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */