body #bodyPage #mainClients .client-rows .client-boxes {
  overflow: hidden;
}

body #bodyPage #mainClientsTablet, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapseText2, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapseText3, body #landingPage #mainNavbar .navbar-collapse li #toggleOn, body #landingPage #mainNavbar .navbar-collapse li #moonMode {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol .bts-card-text {
  border: none;
}

body #bodyPage #footer #footerHouseLink:hover, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse1:hover, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse2:hover, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse3:hover, body #landingPage #mainNavbar .navbar-collapse li .dark-light-toggle:hover {
  cursor: pointer;
}

body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse1, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse2, body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol #btsCollapse3 {
  text-decoration: none;
}

.debug-border-one {
  border: solid red;
}

.debug-border-two {
  border: solid green;
}

.debug-border-three {
  border: solid blue;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
body #landingPage {
  padding-inline: 0px !important;
}
body #landingPage #mainNavbar {
  z-index: 1;
  position: absolute;
  top: 4%;
  right: 10%;
}
@media screen and (max-width: 991px) and (min-width: 951px) {
  body #landingPage #mainNavbar {
    position: relative;
  }
}
@media (max-width: 1024px) {
  body #landingPage #mainNavbar {
    top: 4%;
    right: 0%;
  }
}
@media (max-width: 950px) {
  body #landingPage #mainNavbar {
    position: relative;
  }
}
@media (max-width: 950px) {
  body #landingPage #mainNavbar .navbar-collapse {
    position: absolute;
    right: 0;
    top: 25%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.7);
    padding-block: 2rem;
    padding-left: 2rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media screen and (max-width: 991px) and (min-width: 951px) {
  body #landingPage #mainNavbar .navbar-collapse {
    position: absolute;
    right: 0;
    top: 25%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.7);
    padding-block: 2rem;
    padding-left: 2rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
body #landingPage #mainNavbar .navbar-collapse li {
  margin-right: 3em;
  display: block;
}
body #landingPage #mainNavbar .navbar-collapse li .navbar-link, body #landingPage #mainNavbar .navbar-collapse li .navbar-dark-light-toggle {
  color: #212529;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  body #landingPage #mainNavbar .navbar-collapse li {
    margin-right: 2em;
  }
}
body #landingPage #mainNavbar #aBrand {
  position: absolute;
  left: -55%;
  display: none;
}
@media (max-width: 950px) {
  body #landingPage #mainNavbar #aBrand {
    display: block;
    position: static;
  }
}
@media screen and (max-width: 991px) and (min-width: 951px) {
  body #landingPage #mainNavbar #aBrand {
    display: block;
    position: static;
  }
}
body #landingPage #mainCarousel {
  z-index: 0;
}
body #landingPage #mainCarousel .carousel-img {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  background-position: 50% 50%;
}
@media (max-width: 1024px) {
  body #landingPage #mainCarousel .carousel-img {
    height: 80vh;
  }
}
@media (max-width: 425px) {
  body #landingPage #mainCarousel .carousel-img {
    height: 90vh;
  }
}
body #landingPage #mainCarousel #carousel1 {
  background-image: url(../assets/carousel/1.jpg);
}
body #landingPage #mainCarousel #carousel2 {
  background-image: url(../assets/carousel/2.jpg);
}
body #landingPage #mainCarousel #carousel3 {
  background-image: url(../assets/carousel/3.jpg);
}
body #landingPage #mainCarousel .layer {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0% 22%, rgba(255, 255, 255, 0.1) 80% 100%);
  height: 100%;
  width: 100%;
  border-radius: 35px;
  opacity: 1;
  border: 25px solid white;
}
body #landingPage #mainCarousel #carouselCompanyTitle {
  color: #fff;
  position: absolute;
  top: 60%;
  left: 10%;
  z-index: 1;
}
body #landingPage #mainCarousel #carouselCompanyTitle h1 {
  font-size: 6.5vw;
  font-weight: 700;
  font-family: "Montserrat";
}
@media (max-width: 2560px) and (min-width: 1441px) {
  body #landingPage #mainCarousel #carouselCompanyTitle h4 {
    font-size: 2rem;
    font-weight: 300;
  }
}
body #bodyPage #ourServicesHeadingCol {
  padding-inline: 10%;
  margin-top: 5%;
}
@media (max-width: 425px) {
  body #bodyPage #ourServicesHeadingCol {
    margin-top: 15%;
  }
}
body #bodyPage #ourServicesCol {
  height: auto;
  margin-bottom: 5%;
  margin-top: 2%;
}
@media (max-width: 425px) {
  body #bodyPage #ourServicesCol {
    margin-bottom: 15%;
  }
}
body #bodyPage #ourServicesCol #ourServicesRow1Col, body #bodyPage #ourServicesCol #ourServicesRow2RowMobile, body #bodyPage #ourServicesCol #ourServicesRow2Col {
  justify-content: center;
}
@media (max-width: 425px) {
  body #bodyPage #ourServicesCol #ourServicesRow1Col, body #bodyPage #ourServicesCol #ourServicesRow2RowMobile, body #bodyPage #ourServicesCol #ourServicesRow2Col {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  body #bodyPage #ourServicesCol #ourServicesRow1Col img, body #bodyPage #ourServicesCol #ourServicesRow2RowMobile img, body #bodyPage #ourServicesCol #ourServicesRow2Col img {
    width: 100% !important;
  }
}
body #bodyPage #ourServicesCol #ourServicesRow1Col .our-services-box, body #bodyPage #ourServicesCol #ourServicesRow2RowMobile .our-services-box, body #bodyPage #ourServicesCol #ourServicesRow2Col .our-services-box {
  width: 15rem;
}
@media (max-width: 1024px) {
  body #bodyPage #ourServicesCol #ourServicesRow1Col .our-services-box, body #bodyPage #ourServicesCol #ourServicesRow2RowMobile .our-services-box, body #bodyPage #ourServicesCol #ourServicesRow2Col .our-services-box {
    width: 20%;
  }
}
body #bodyPage #ourServicesCol #ourServicesRow1Col .box-test, body #bodyPage #ourServicesCol #ourServicesRow2RowMobile .box-test, body #bodyPage #ourServicesCol #ourServicesRow2Col .box-test {
  padding-inline: 1rem;
  padding-top: 1rem;
}
@media (max-width: 425px) {
  body #bodyPage #ourServicesCol #ourServicesRow1Col .box-test, body #bodyPage #ourServicesCol #ourServicesRow2RowMobile .box-test, body #bodyPage #ourServicesCol #ourServicesRow2Col .box-test {
    padding-inline: 0rem;
    padding-top: 0rem;
    margin-top: 1rem;
  }
}
@media (max-width: 425px) {
  body #bodyPage #ourServicesCol #ourServicesRow2Col {
    display: none !important;
  }
}
body #bodyPage #ourServicesCol #ourServicesRow2RowMobile {
  display: none;
}
@media (max-width: 425px) {
  body #bodyPage #ourServicesCol #ourServicesRow2RowMobile {
    display: flex;
  }
}
body #bodyPage #ourServicesCol #ourServicesRow2RowMobile #ourServicesRow2ColMobile {
  justify-content: center;
  flex-direction: column;
}
body #bodyPage #btsCol {
  flex-direction: row;
  height: auto;
  padding-inline: 23%;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  body #bodyPage #btsCol {
    justify-content: space-around;
    padding-inline: 30%;
  }
}
@media (max-width: 950px) {
  body #bodyPage #btsCol {
    padding-inline: 27%;
  }
}
@media (max-width: 767px) {
  body #bodyPage #btsCol {
    flex-direction: column;
    padding-inline: 3%;
  }
}
body #bodyPage #btsCol #btsFirstChild {
  min-width: 100%;
  min-height: 75vh;
  max-height: 80vh;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  body #bodyPage #btsCol #btsFirstChild {
    min-height: 75vh;
    max-height: 80vh;
  }
}
@media (max-width: 767px) {
  body #bodyPage #btsCol #btsFirstChild {
    min-height: 35rem;
  }
}
@media (max-width: 659px) and (min-width: 426px) {
  body #bodyPage #btsCol #btsFirstChild {
    min-height: 70vh;
  }
}
@media (max-width: 425px) {
  body #bodyPage #btsCol #btsFirstChild {
    min-height: 55vh;
    max-height: 60vh;
  }
}
body #bodyPage #btsCol #btsFirstChild .white-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: #fff;
}
@media screen and (max-width: 768px) {
  body #bodyPage #btsCol #btsFirstChild .white-layer {
    display: none;
  }
}
body #bodyPage #btsCol #btsFirstChild .bts-image-box {
  overflow: hidden;
}
body #bodyPage #btsCol #btsFirstChild .bts-back-images {
  width: 40%;
  transform: translate(0%, -20%);
}
@media (max-width: 950px) {
  body #bodyPage #btsCol #btsFirstChild .bts-back-images {
    width: 45%;
    z-index: 1;
  }
}
body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
  position: absolute;
  max-width: 20%;
  min-width: 18%;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
    min-width: 10%;
    max-width: 20%;
  }
}
@media (max-width: 1024px) {
  body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
    max-width: 30%;
    left: 13%;
  }
}
@media (max-width: 950px) {
  body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
    max-width: 35%;
    left: 10%;
  }
}
@media (max-width: 425px) {
  body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
    max-width: 47%;
    min-width: 45%;
  }
}
@media (max-width: 320px) {
  body #bodyPage #btsCol #btsFirstChild #btsFrontImg {
    min-width: 50%;
  }
}
@media (max-width: 2560px) and (min-width: 1441px) {
  body #bodyPage #btsCol #btsFirstChild #btsBackImg2 {
    z-index: 1;
  }
}
body #bodyPage #btsCol #btsSecondChild {
  max-width: 100%;
}
@media (max-width: 1024px) {
  body #bodyPage #btsCol #btsSecondChild {
    min-width: 100%;
  }
}
body #bodyPage #btsCol #btsSecondChild #btsTextBoxCol {
  width: 30vw;
}
body #bodyPage #professionalHeadingCol {
  padding-inline: 10%;
}
body #bodyPage #professionalCardsCol {
  padding-inline: 10%;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  body #bodyPage #professionalCardsCol {
    justify-content: space-around;
  }
}
@media (max-width: 950px) {
  body #bodyPage #professionalCardsCol {
    padding-inline: 5%;
  }
}
body #bodyPage #professionalCardsCol .professional-cards {
  border-radius: 20px;
  overflow-x: hidden;
  max-width: 25%;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 28%;
  }
}
@media (max-width: 1024px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 30%;
  }
}
@media (max-width: 950px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 34%;
  }
}
@media (max-width: 767px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 70%;
  }
}
@media (max-width: 425px) {
  body #bodyPage #professionalCardsCol .professional-cards {
    max-width: 80%;
  }
}
body #bodyPage #mainClients {
  padding-inline: 10%;
}
@media screen and (max-width: 660px) {
  body #bodyPage #mainClients {
    display: none;
  }
}
body #bodyPage #mainClients .client-rows .client-col {
  display: flex;
}
@media (max-width: 767px) {
  body #bodyPage #mainClients .client-rows {
    padding-inline: 5%;
  }
}
body #bodyPage #mainClients .client-rows .client-boxes {
  height: 0;
  width: 20%;
  padding-bottom: 20%;
}
body #bodyPage #mainClientsTablet .client-rows-tablet {
  padding-inline: 10%;
}
body #bodyPage #mainClientsTablet .client-boxes-tablet {
  height: 0;
  width: 40%;
  padding-bottom: 40%;
  overflow: hidden;
}
@media screen and (max-width: 660px) {
  body #bodyPage #mainClientsTablet {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */