body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

html {
    --border-radius-modern: 20px;
    --client-width: 12px
}

#green {
    /* border: 3px solid green; */
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 0%;
    border-radius: var(--border-radius-modern);
}

/* custom class */
.modern-border-radius {
    border-radius: var(--border-radius-modern);
}

.modern-padding-inline {
    padding-inline: 200px;
}

.no-border {
    border: none !important;
}

.debug-border-red {
    border: solid red;
}

.debug-border-green {
    border: solid green;
}

.height-auto {
    height: auto;
}

.display-none {
    display: none;
}

.padding-zero {
    padding: 0px;
}

.no-underline {
    text-decoration: none;
}

.color-white {
    color: #fff;
}

.cursor-pointer:hover {
    cursor: pointer;
}

/* landing page */

#landingPage {
    padding-inline: 0px !important;
}

/* carousel */
.carousel-img {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: 25px solid white;
    border-radius: 45px;
    background-position: 50% 50%;
}

#carousel1 {
    background-image: url(./assets/carousel/1.jpg);
}
#carousel2 {
    background-image: url(./assets/carousel/2.jpg);
}
#carousel3 {
    background-image: url(./assets/carousel/3.jpg);
}

#mainCarousel {
    z-index: 0;
}

/* navbar */
#mainNavbar {
    z-index: 1;
    position: absolute;
    top: 4%;
    right: 10%;
}

#mainNavbar li {
    margin-right: 3em;
}

#aBrand {
    position: absolute;
    left: -55%;
}

#navbarTablet {
    display: none;
}

.layer {
    position: relative;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0% 22%, rgba(255,255,255, 0.1) 80% 100%);
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-modern);
    opacity: .8;
}

#toggleOff {

}

/* client */
.always-square {
    height:0;
    width:20%;
    padding-bottom:20%;
}


/* bts */
#btsCol {
    border: solid red;
    /* padding: 0px !important; */
}

#btsSpeedImages {
    /* border: solid red; */
    height: 50%;
}



@media only screen and (min-width: 1440px) {
    #aBrand {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .carousel-img {
        height: 80vh;
    }

    .modern-padding-inline {
        padding-inline: 50px;
    }

    #mainNavbar li {
        margin-right: 2em;
    }
}

@media only screen and (max-width: 991px) {
    #mainNavbar {
        display: none;
    }

    #navbarTablet {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-img {
        height: 60vh;
    }

    .modern-padding-inline {
        padding-inline: 50px;
    }

    .tablet-justify-center {
        justify-content: center !important;
    }

    #navbarTablet {
        display: block;
    }

    #mainNavbar {
        display: none;
    }

    #clientsTablet {
        display: block !important;
        height: auto;
    }

    #mainClients {
        display: none;
    }

    .always-square {
        height:0;
        width:100%;
        padding-bottom:50%;
    }

}

/* @media only screen and (max-width: 600px) {  
} */

@media only screen and (max-width: 425px) {
    .carousel-img {
        height: 90vh;
    }

    #btsRow {
        padding-inline: 0px;
    }

    .modern-padding-inline {
        padding-inline: 25px;
    }
    
}

/* @media only screen and (max-width: 375px) {
} */

@media only screen and (max-width: 320px) {
    .carousel-img {
        height: 90vh;
    }
    
}