body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

#green {
    border: solid green;
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 0%;
    border-radius: 20px;
}

.no-underline {
    text-decoration: none;
}

.cursor-pointer:hover {
    cursor: pointer;
}

#landingPage {
    padding-inline: 0px !important;
}

/* carousel */
.carousel-img {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: 25px solid white;
    border-radius: 35px;
    background-position: 50% 50%;
}

#carousel1 {
    background-image: url(./assets/carousel/1.jpg);
}
#carousel2 {
    background-image: url(./assets/carousel/2.jpg);
}
#carousel3 {
    background-image: url(./assets/carousel/3.jpg);
}

/* navbar */
#mainNavbar {
    /* border: solid green; */
}

/* our services */
#servicesCol {
    border: solid red;
    height: 100vh;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.child {
    border: solid green;
}

/* bts */
#btsRow {
    /* padding-inline: 80px; */
    /* border: solid green; */
}

#btsCol {
    height: 100vh;
    width: 100vw;
    padding: 0px !important;
}

#btsTextBox {
    /* padding-right: 0px; */
}

#btsSpeedImages {
    /* border: solid red; */
    height: 50%;
}




@media only screen and (max-width: 1024px) {
    .carousel-img {
        height: 80vh;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-img {
        height: 60vh;
    }
}

@media only screen and (max-width: 425px) {
    .carousel-img {
        height: 90vh;
    }

    #btsRow {
        padding-inline: 0px;
    }
    
}

@media only screen and (max-width: 320px) {
    .carousel-img {
        height: 90vh;
    }
    
}