// services
h1, h4 { color: $standard-white-color; }

h1 {
    font-size: clamp(1.2rem, 4vw, 3.5rem);
    font-weight: 600;
    @media screen and (max-width: 375px) { font-size: 1rem; }
    @media screen and (max-width: 320px) { font-size: 0.8rem; }
}

h4 {
    font-size: clamp(0.65rem, 2vw, 1.75rem);
    font-weight: 300;
    @media screen and (max-width: 375px) { font-size: 0.60rem; }
    @media screen and (max-width: 320px) { font-size: 0.50rem; }
}

#servicesHeading { margin-bottom: 0.5rem;}

.service-texts {
    padding: 1rem;
    // @media screen and (max-width:768px) { padding: 0.5rem; }
    @media screen and (max-width: 500px) { padding-left: 0.2rem; }

    .service-headings-a {
        text-decoration: none;
        color: whitesmoke;
        &:hover {  text-decoration: underline; }
    }
}

#servicesRow1 {
    column-count: 5;
    margin: 0;
    gap: 0;
    // @media screen and (max-width: 500px) { column-count: 1; }
}

#servicesRow2 {
    column-count: 5;
    color: $standard-grey-color;
    margin: 0;
    gap: 0;
    // @media screen and (max-width: 500px) { column-count: 1; }
}

#mainCarousel {
            z-index: 0;

            .carousel-inner {
    
                .carousel-img {
                    width: 100%;
                    height: auto;
                    background: {
                        size: cover; 
                        repeat: no-repeat; 
                        position: 50% 50%;
                    }
                    // @media screen  and (max-width: 1000px) {
                    //     background-size: contain;
                    //     height: 50vh;
                    // }
                    // @media screen and (max-width: 768px) {
                    //     background: {size: contain; repeat: no-repeat; position: 50% 50%; }
                    //     height: 50vh;
                    // }
                    // @media screen and (max-width: 500px) {
                    //     background: {size: contain; repeat: no-repeat; position: 50% 50%; }
                    //     height: 30vh;
                    // }
                }
                #carousel1 {
                    // background-image: url(../assets/carousel/1.webp);
                }
                #carousel2 {
                    // background-image: url(../assets/carousel/2.webp);
                    // @include large-mobile { background-position: 61% 50%; }
                }
                #carousel3 {
                    // background-image: url(../assets/carousel/3.webp);
                    // @include large-mobile { background-position: 55% 50%; }
                }
                #carousel4 {
                    // background-image: url(../assets/carousel/4.webp);
                    // @include large-mobile { background-position: 43% 50% }
                }
                #carousel5 {
                    // background-image: url(../assets/carousel/5.webp);
                    // @include large-mobile { background-position: 50% 50% }
                }
                #carousel6 {
                    // background-image: url(../assets/carousel/6.webp);
                    // @include large-mobile { background-position: 50% 50% }
                }
                .carousel-layer {
                    position: relative;
                    width: 100vw;
                    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0% 22%, rgba(255,255,255, 0.1) 80% 100%);
                    z-index: 5;
                    // height: 100%;
                    // opacity: 1;
                    // border-radius: 35px;
                    // @include large-mobile { background: linear-gradient(0deg, rgba(255,255,255, 0.1) 0% 60%, rgba(0,0,0,0.8) 100% 0%); }

                    .carousel-preload {
                        background-color: white;
                        opacity: 0.25;
                        height: 0.7rem;
                        position: absolute;
                        top: 0;
                    }
    
                    img {
                        width: 100%;
                    }
                }
            }

}