.social-btn {
    border-radius:  50%;
    border: 0.99px solid $standard-black-color;
    width: 3.8rem;
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        fill: $standard-black-color;
    }
}

// contact us page
.contact-us-page {
    border: solid $standard-black-color;
    background-color: whitesmoke;
    position: fixed;
    top: 13%;
    right: 0;
    z-index: 2;
    width: 25vw;
    height: 50vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(100%);
    
    @include desktop {
        width: 30vw;
        height: 60vh;
    }

    .contact-us-social {
        display: flex;
        gap: 0.5rem;
    }

    .contact-us-map {
        border: solid $standard-black-color;
        border-radius: $standard-border-radius-10px;
        overflow: hidden;
        iframe {
            border-radius: $standard-border-radius-10px;    
        }
    }
}

.contact-us-hidden-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    display: none;
}

