@mixin always-square($height, $width, $padding-bottom) {
    height: $height;
    width: $width;
    padding-bottom: $padding-bottom;
}

@mixin adjust-object-position($device-width, $y-position) {
    @media screen and (min-width: $device-width) {
        object-position: 0rem $y-position;
    }
}

@mixin adjust-width($device-width, $width) {
    @media screen and (max-width: $device-width) {
        width: $width;
    }
}

@mixin adjust-font-size($device-width, $size) {
    @media screen and (max-width: $device-width) {
        font-size: $size;
    }
}

@mixin adjust-flex-gap-min-width($device-width, $gap) {
    @media screen and (min-width: $device-width) {
        gap: $gap;
    }
}
