%display-none {
    display: none;
}

%cursor-pointer {
    &:hover {
        cursor: pointer;
    }
}

%color-white {
    color: #fff;
}

%no-underline {
    text-decoration: none;
}

%flex-justify-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-col-direction {
    display: flex;
    flex-direction: column;
}