%display-none {
    display: none;
}

%cursor-pointer {
    &:hover {
        cursor: pointer;
    }
}

%color-white {
    color: #fff;
}

%no-underline {
    text-decoration: none;
}

// flex
%flex-align-center {
    display: flex;
    align-items: center;
}

%flex-justify-center {
    display: flex;
    justify-content: center;
}

%flex-align-start {
    display: flex;
    align-items: start;
}

%flex-justify-right {
    display: flex;
    justify-content: right;
}

%flex-align-start-justify-right {
    @extend %flex-align-start;
    justify-content: right;
}

%flex-col-direction {
    display: flex;
    flex-direction: column;
}

%flex-col-direction-justify-center {
    @extend %flex-col-direction;
    justify-content: center;
}

%flex-justify-align-center {
    @extend %flex-align-center;
    justify-content: center;
}

%flex-justify-space-between {
    display: flex;
    justify-content: space-between;
}

%flex-justify-end {
    display: flex;
    justify-content: end;
}

%flex-align-center-justify-between {
    @extend %flex-align-center;
    justify-content: space-between;
}

%flex-justify-left-align-center {
    @extend %flex-align-center;
    justify-content: left;
}

// inline-flex
%inline-flex-align-center {
    display: inline-flex;
    align-items: center;
}