$standard-border-radius: 20px;
$standard-black-color: #212529;
$standard-white-color: hsl(60, 0, 100);
$standard-padding-inline: 200px;

$bootstrap-light: #f8f9fa;

$darkmode-bg: #1C1C1C;
$lightmode-bg: hsl(0, 0%, 90%);
$light-color: #ADADAD;
$hyperlink-color: hsl(168, 100%, 76%);