$standard-border-radius-20px: 20px;
$standard-border-radius-10px: 10px;

$standard-black-color: #212529;
$standard-white-color: hsl(60, 0, 100);
$standard-grey-color: #ADADAD;
$standard-black-bg-color: #1C1C1C;
$standard-white-bg-color: hsl(0, 0%, 96%);
$standard-hyperlink-color: hsl(168, 100%, 76%);

$standard-font-family-1 : 'Inter';
$standard-font-family-2 : 'Montserrat';
$standard-font-size: 16px;