// @import "./layouts/breakpoints";


// background
body {
    background-color: $darkmode-bg;

    #aBrand {
        color: $light-color;
    }

    #companyTitleBoxMobile {
        color: $light-color;
    }

    #navbarToggler {
        border: solid $light-color;
    }
    
    .navbar-toggler-icon {
        // border: solid $light-color;
    }

    .layer {
        border: 25px solid $darkmode-bg;
        @media screen and (max-width: 768px) {
            border: 15px solid $darkmode-bg;
        }
    }
    #ourServicesHeadingCol {
        color: $light-color;
    }
    #ourServicesCol {
        color: $light-color;
    }

    .white-layer {
        background-color: $darkmode-bg;
    }
    
    #btsTextBoxCol {
        hr {
            color: $light-color;
        }
        h3 {
            color: $light-color;
        }
        .bts-heading-texts {
            color: $light-color;
        }
        .bts-card-text {
            background-color: $darkmode-bg;
            color: $light-color;
        }
    }

    #professionalHeadingCol {
        color: $light-color;
    }

    .professional-cards {
        border: solid $light-color;
        background-color: $darkmode-bg;
        color: $light-color;
        a {
            color: $hyperlink-color;
        }
    }
    
    #mainClients {
        color: $light-color;
    }
    #mainClientsTablet {
        color: $light-color;
    }

    #arrowBox {
        svg {
            fill: $light-color;
        }
    }

    #galleryHeading {
        color: $light-color;

    }

    #galleryCheckBox {
        p {
            color: $hyperlink-color;

        }
    }
}
